#section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0% 15% 0% 15%;

    @include sm{
        height: 70vh;
    }

    @include md{
        height: 100vh;
    }

    #definition{
        text-align: left;
        margin-bottom: 25px;
        font-family: 'Yusei Magic', sans-serif;
        font-weight: 400;

        @include sm{
            font-size: rem-calc(25);
        }

        @include md{
            font-size: rem-calc(50);
        }

        // @include lg{
        //     font-size: rem-calc(60);
        // }
    }

    #body{
        text-align: justify;
        font-family: 'Neucha', cursive;

        @include sm{
            font-size: rem-calc(15);
        }

        @include md{
            font-size: rem-calc(20);
        }

        // @include lg{
        //     font-size: rem-calc(35);
        // }
    }
}