#section-3{
    // height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    img{
        max-width: 100%;
        display: block;
    }

    .container{
        max-width: 100rem;
        margin-inline: auto;
        margin-inline: 2rem;
    

        .resource-grid{
            display: grid;
            gap: .125rem;
            grid-template-columns: 1fr 1fr 1fr;
                // repeat(auto-fit, minmax(15rem, 1fr))

            .card{
                aspect-ratio: 1/1.5;
            }

            .card-img{
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }
}

.stacked{
    display: grid;
}

.stacked > * {
    grid-column: 1/2;
    grid-row: 1/2;
}

.card-content{
    background: white;
    align-self: end;
    margin: .5rem .5rem 2rem;
    padding: .5rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
}

.card-title{
    font-size: 1.25rem;
    font-family: 'Caveat', cursive;
    font-weight: 500;
    color: var(--orange);
}

.card-desc{
    font-size: 1rem;
    font-family: 'Neucha', cursive;
}
