#section-2{
    height: 100vh;
    display: flex;
    justify-content: center;

    #bg-img{
        background-image: url("../img/blank.jpg");
        background-size: cover;
        background-position: center bottom;
        height: 70%;
        width: 70%;
        position: absolute;
    }

    h1{
        text-align: left;
        

        #phrase-1{
        
        }

        #phrase-2{

        }
    }
}