#section-2{
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: center;
    position: relative;

    #bg-img{
        background-image: url("/deploy/img/blank.jpg");
        background-size: cover;
        background-position: bottom;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}