#section-2{
    display: flex;
    justify-content: center;

    @include sm{
        height: 70vh;
    }

    @include md{
        height: 100vh;
    }

    #bg-img{
        background-image: url("../img/blank.jpg");
        background-size: cover;
        background-position: center bottom;
        position: absolute;
        z-index: -1;

        @include sm{
            height: 30%;
            width: 100%;
        }
    
        @include md{
            height: 70%;
            width: 80%;
        }
    }

    h1{
        text-align: left;
        font-family: 'Yusei Magic', sans-serif;
        font-weight: 400;
        color: var(--blue);

        // #phrase-1{

        // }

        // #phrase-2{

        // }
    }
}